* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

/* Main */

.displayScreen{
    display: flex;
    flex-direction: column;
    height: 75px;
    width: 335px;
    font-size: larger;
}

.displayValueScreen, .storedValueScreen{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 50px;
    width: 335px;
}

.storedValueScreen{
    height: 25px;
}

.row,.column{
    display: flex;
    gap: 5px;
}

.column{
    flex-direction: column;
}

button {
    font-size: 20px;
    padding: 20px;
    width: 80px;
    height: 70px;
}

#clear, #equals {
    width: 165px;
}

.tools, .operatorButtons{
    flex-direction: column;
    width: 100px;
}


/* Footer */