* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */
.main{
    padding: 200px;
}

.calculator{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    background-color: #aaa;
}

.screen{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 335px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: larger;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #eee;
}

.screen .row, .storedValueScreen{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 315px;
    height: 30px;
    font-size: 20px;
}

.screen .row{
    justify-content: space-between;
}

.storedValueScreen{
    height: 20px;
    font-size: 18px;
}

.row,.column{
    display: flex;
    gap: 5px;
}

.column{
    flex-direction: column;
}

button {
    font-size: 20px;
    padding: 20px;
    width: 80px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid black;
}

#clear, #equals {
    width: 165px;
}

.tools, .operatorButtons{
    flex-direction: column;
    width: 100px;
}


/* Footer */